<div ng-controller="ShellCtrl" class="main-shell">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2 mobile-nav-container" md-component-id="left">
    <md-toolbar class="md-tall md-warn mobile-nav-head" layout="column" layout-align="center center">
      
      <!-- <div ng-if="isLoggedIn()" layout="column" layout-padding class="profile-container">
        <div flex></div>
        <div layout-padding layout="column">
          <div class="profile-name">{{ getCurrentUser().name }}</div>
          <div class="profile-email">{{ getCurrentUser().email }}</div>
        </div>
      </div> -->
      <h2>Austin VR Lab</h2>      
    </md-toolbar>
    <md-content layout-padding>
      <md-list class="mobile-nav">
        <md-list-item>
          <md-button ui-sref="main.home" ng-click="highlightActive('home', true)">
            <md-icon md-svg-icon="action:home"></md-icon>
            Home
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button ui-sref="main.products" ng-click="highlightActive('products', true)">
            <md-icon md-svg-icon="action:shop"></md-icon>
            Products
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button ui-sref="main.productions" ng-click="highlightActive('productions', true)">
            <md-icon md-svg-icon="av:videocam"></md-icon>
            Productions
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button ui-sref="main.tours" ng-click="highlightActive('tours', true)">
            <md-icon md-svg-icon="maps:place"></md-icon>
            Private VR Tours
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button ui-sref="main.contact" ng-click="highlightActive('contact', true)">
            <md-icon md-svg-icon="communication:contact_mail"></md-icon>
            Contact
          </md-button>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>
  <md-toolbar class="main-toolbar">
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings" hide-gt-md>
        <md-icon md-svg-icon="assets/icons/menu.svg"></md-icon>
      </md-button>
      <h2>
          <!-- <span class="vr-toolbar-title">Austin VR Labs</span> -->
          <img src="../../assets/images/log0_cleaned.png" class="logo" />
        </h2>
      <span flex=""></span>
      <span class="big-nav" layout="row" layout-align="end center" hide-md hide-sm hide-xs>
        <md-button ui-sref="main.home" ng-click="highlightActive('home')">
          <!-- <md-icon md-svg-icon="action:home"></md-icon> -->
          Home
        </md-button>
        <md-button ui-sref="main.products" ng-click="highlightActive('products')">
          <!-- <md-icon md-svg-icon="action:shop"></md-icon> -->
          Products
        </md-button>
        <md-button ui-sref="main.productions" ng-click="highlightActive('productions')">
          <!-- <md-icon md-svg-icon="av:videocam"></md-icon> -->
          Productions
        </md-button>
        <md-button ui-sref="main.tours" ng-click="highlightActive('tours')">
          <!-- <md-icon md-svg-icon="maps:place"></md-icon> -->
          Private VR Tours
        </md-button>
        <md-button ui-sref="main.contact" ng-click="highlightActive('contact')">
          <!-- <md-icon md-svg-icon="communication:contact_mail"></md-icon> -->
          Contact
        </md-button>
      </span>
      <span layout="row" layout-align="center center" class="social-icons">
        <span>
          <a href="https://www.facebook.com/AustinVRLab/">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
          </a>
        </span>
        <span>
          <a href="https://twitter.com/austinvrlab">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
          </a>
        </span>
        <span>
          <a href="https://www.youtube.com/channel/UCD2hu3cKSYBTTE6JRGh6gnQ">
            <i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i>
          </a>
        </span>
        <span>
          <a href="https://www.instagram.com/austinvrlab/">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          </a>
        </span>
      </span>
    </div>
  </md-toolbar>
</div>