<div ng-controller="ShellCtrl" class="main-shell">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-tall md-accent">
      
      <div ng-if="isLoggedIn()" layout="column" layout-padding class="profile-container">
        <div flex></div>
        <div layout-padding layout="column">
          <div class="profile-name">{{ getCurrentUser().name }}</div>
          <div class="profile-email">{{ getCurrentUser().email }}</div>
        </div>
      </div>
      
    </md-toolbar>
    <md-content layout-padding>

    </md-content>
  </md-sidenav>
  <md-toolbar class="main-toolbar">
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings" hide-gt-sm>
        <md-icon md-svg-icon="assets/icons/menu.svg"></md-icon>
      </md-button>
      <h2>
          <span class="vr-toolbar-title">Austin VR Labs</span>
        </h2>
      <span flex=""></span>
      <span class="big-nav" layout="row" layout-align="end center">
        <md-button ui-sref="main.home">Home</md-button>
        <md-button ui-sref="main.products">Products</md-button>
        <md-button ui-sref="main.contact">Contact</md-button>
        <md-button ui-sref="main.about">About</md-button>
      </span>
    </div>
  </md-toolbar>
</div>
