<section class="productions-section">
	<div layout="row" layout-align="center center" class="title-area">
		<p>Productions</p>
	</div>
	<div layout="row" layout-md="column" layout-sm="column" layout-xs="column" class="media-area" layout-align="center center">
		<div class="vid-thumb-container" layout-align="center center" layout-wrap>
			<div ng-repeat="image in prc.proVids">
				<img ng-src="/assets/images/vidThumbs/{{image}}.png" class="vid-thumb" ng-click="prc.playerSwitch('video', image)" />
			</div>
		</div>
		<div class="center-area" ng-style="{'width': prc.vidDims.width}" ng-class="{'center-text': prc.state.source === 'image'}">
			<div class="valiantContainer" data-video-src="/assets/video/linez_360_video.mp4" ng-style="{'width': prc.vidDims.width, 'height': prc.vidDims.height}"></div>
		</div>
		<div class="image-thumb-container" layout-align="center center" layout-wrap layout="row">
			<div ng-repeat="image in prc.proImages">
				<img ng-src="/assets/images/proImages/{{image}}" class="image-thumb" ng-click="prc.playerSwitch('image', image)" />
			</div>
		</div>
	</div>
	<div layout="row" class="logo-central" layout-align="center center">
		<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="3"
	        md-row-height-gt-md="150px" md-row-height="150px"
	        md-gutter="1px" md-gutter-gt-sm="1px" style="max-width: 1000px;" flex="80">
			<md-grid-tile md-rowspan="1" md-colspan="1" ng-repeat="image in prc.images">
				<img ng-src="../../assets/images/productions/{{image}}" />
			</md-grid-tile>
		</md-grid-list>
		<div layout="row" layout-align="space-between center" class="logo-container">
		</div>	
	</div>
</section>