<section class="productions-section">
	<div layout="row" layout-align="center center" class="title-area">
		<p>Productions</p>
	</div>
	<div layout="row" class="media-area" layout-align="center center">
		<div class="slick-container">
		<div class="valiantContainer" data-video-src="/app/productions/linez_360_video.mp4" style="width: 480px; height: 270px;"></div>
			<!-- <slick infinite=true slides-to-show=1 slides-to-scroll=1 dots=true autoplay=true>
				<div ng-repeat="image in prc.carosel">
					<img ng-src="../../assets/images/carosel/{{image}}" style="max-width: 420px;"/></div>
				</div>
			</slick> -->
		</div>
	</div>
	<div layout="row" class="logo-central" layout-align="center center">
		<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="3"
	        md-row-height-gt-md="150px" md-row-height="150px"
	        md-gutter="1px" md-gutter-gt-sm="1px" style="max-width: 1000px;" flex="80">
			<md-grid-tile md-rowspan="1" md-colspan="1" ng-repeat="image in prc.images">
				<img ng-src="../../assets/images/productions/{{image}}" />
			</md-grid-tile>
		</md-grid-list>
		<div layout="row" layout-align="space-between center" class="logo-container">
		</div>	
	</div>
</section>