.productions-section {
	padding-top: 36px;
	background-color: $primary-color;

	.media-area {

		.slick-container {
			max-width: 420px;
			padding-bottom: 36px;
		}
	}

	.logo-central {
		background-color: white;
	}
}