/**
 * App-wide Styles
 */

 //Google fonts
 @import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700|Raleway:400,700);
 $raleway-font: 'Raleway', sans-serif;
 $slab-font: 'Josefin Slab', serif;

 //colors
 $primary-color: #6e3667;
 $accent-color: #88d317;
 $warn-color: #1a0315;
 $background-color: #535353;

.main-shell {
	.main-toolbar {
		background-color: white;

		.vr-toolbar-title {
			font-weight: bold;
		}

		.big-nav {
			background-color: $accent-color;
			height: 64px;
		}
	}
   	.profile-container {
    	height: 100%;
     	font-size: 14px;

     	.profile-name {
       		font-weight: 500;
     	}
   	}
}

html {
 	-webkit-font-smoothing: antialiased !important;
 	-moz-osx-font-smoothing: grayscale !important;
 	text-rendering: optimizeLegibility !important;
 	font-family: $raleway-font;
 	color: white;
}

.fb-like, .twitter-share-button, .twitter-follow-button {
 	margin: 8px;
}

.twitter-follow-button {
 	margin-top: 0;
}

@mixin box_shadow ($level) {
	@if $level == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}

 @mixin inset_shadow ($level) {
	@if $level == 1 {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0px 1px 2px rgba(0, 0, 0, 0.24);
    } @else if $level == 2 {
        box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), inset 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        box-shadow: inset 0 10px 20px rgba(0,0,0,0.19), inset 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        box-shadow: inset 0 14px 28px rgba(0,0,0,0.25), inset 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        box-shadow: inset 0 19px 38px rgba(0,0,0,0.30), inset 0 15px 12px rgba(0,0,0,0.22);
    }
}

$prefix:'-moz-', '-webkit-', '-o-', '-ms-', '';
@mixin keyframe-fadeIn {
  	0%   { opacity:0; }
  	100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  	@include keyframe-fadeIn;
}
@-webkit-keyframes fadeIn {
  	@include keyframe-fadeIn;
}
@-o-keyframes fadeIn {
  	@include keyframe-fadeIn;
}
@-ms-keyframes fadeIn {
  	@include keyframe-fadeIn;
}
@keyframes fadeIn {
  	@include keyframe-fadeIn;
}
@mixin fade-In($arg) {
  	$keyframe-name:fadeIn;
  	$duration:$arg;
  	@each $p in $prefix {
    	#{$p}animation:$keyframe-name $duration;
  	}
}




// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'home/home.scss';
@import 'main/main.scss';
// endinjector
