.contact-section {

	.contact-title-area {
		background-color: $primary-color;

		// margin-bottom: 20px;
		// padding-top: 20px;

		p {
			font-size: 5em;
			font-family: $slab-font;
			margin: 20px;
			color: white;
			font-weight: bold;
		}
	}

	.contact-form {
		min-height: calc(100vh - 64px);
		height: 100%;
		background-color: white !important;

		.contact-header {
			font-weight: bold;
		}
		.contact-form {
			width: 60%;
		}
		.half-width {
			width: 50%;
		}
		.height-fix {
			min-height: 280px;
		}
		
	}
	
}


.email-modal {

	md-toolbar {
		background-color: $warn-color;
		color: white;
		font-weight: bold;
	}

	md-dialog-content {
		background-color: white;
	}

	.success-icon {
		width: 100%;
		text-align: center;
	}

	.md-actions {
		background-color: $accent-color;
	}
}