<section class="contact-section">
	<div layout="row" layout-align="center center" class="contact-title-area">
		<p class="contact-title">
			Drop Us a Line
		</p>
	</div>
	<div layout="row" layout-align="center center">
		<div class="contact-form" layout-padding layout="row" layout-sm="column" layout-xs="column" layout-align="center start" flex>
			<div layout="column" layout-sm="column" layout-xs="column" class="contact-column" flex-offset-gt-sm="15" flex="35">
				<div class="angled-flag">
					Contact
				</div>
				<h2> Austin VR Lab</h2>
				<span>Address Address</span>
				<span>Suite something</span>
				<span>Austin, TX 78701</span>
				<div class="phone">
					<div><i class="fa fa-phone"></i> phonenumber</div>
					<div><i class="fa fa-envelope"></i> email</div>
				</div>
				<div class="social-info">
					<div><i class="fa fa-facebook"></i> /AustinVRLab</div>
					<div><i class="fa fa-twitter"></i> @austinvrlab</div>
					<div><i class="fa fa-youtube-square"></i> /channel/UCD2hu3cKSYBTTE6JRGh6gnQ</div>
					<div><i class="fa fa-instagram"></i> /austinvrlab</div>
				</div>
			</div>
			<div layout="column" class="contact-column" flex="35">
				<div class="angled-flag">
					Inquiry
				</div>
			    <form name="userForm" class="contact-form" ng-click="cc.sendEmail(userForm.$valid)">
			  		<div layout-padding class="trans-back height-fix">
			      		<div class="input-div">
					        <md-input-container>
					          	<label class="accent-label">Name</label>
					          	<input required name="firstName" ng-model="cc.user.firstName" >
					          	<div ng-messages="userForm.firstName.$error">
					             	<div ng-message="required">We need to know who your are!</div>
					            </div>
					        </md-input-container>
			      		</div>
			      		<div class="input-div">
			        		<md-input-container>
			            		<label class="accent-label"><i class="fa fa-building"></i> Company (optional)</label>
			            		<input ng-model="cc.user.company" >
			          		</md-input-container>
			          	</div>
			          	<div class="input-div">
					    	<md-input-container>
					      		<label class="accent-label"><i class="fa fa-envelope"></i> Email</label>
					      		<input ng-model="cc.user.email" required name="email" type="email" >
					      		<div ng-messages="userForm.email.$error">
					             	<div ng-message="required">How are we supposed to reply?</div>
					            </div>
					    	</md-input-container>
					    </div>
					    <div class="input-div">
						    <md-input-container>
					      		<label class="accent-label"><i class="fa fa-phone" aria-hidden="true"></i> Phone (optional)</label>
					      		<input ng-model="cc.user.phone" name="phone" type="phone" >
					    	</md-input-container>
					    </div>
					    <div class="input-div">
						    <md-input-container flex style="width: 320px;">
						        <label><i class="fa fa-comment"></i> Message</label>
						        <textarea ng-model="cc.user.comments" columns="1" md-maxlength="140" 
						        	maxlength="140" required name="comments"></textarea>
						        <div ng-messages="userForm.comments.$error">
						            <div ng-message="required">Why are you contacting us?</div>
						        </div>
						    </md-input-container>
						</div>
					</div>
					<div>
						<md-button type="submit">
							Submit &nbsp;
							<md-icon md-svg-icon="content:send"></md-icon>
						</md-button>
					</div>
			    </form>
			</div>
		</div>
	</div>
</section>