.contact-section {

	.contact-title-area {
		background-color: $primary-color;

		// margin-bottom: 20px;
		// padding-top: 20px;

		p {
			font-size: 5em;
			font-family: $slab-font;
			margin: 20px;
			color: white;
			font-weight: bold;
		}
	}

	.contact-form {
		min-height: calc(100vh - 64px);
		height: 100%;
		background-color: white !important;
		max-width: 1200px;

		.contact-column {
			min-width: 500px;

			.social-info, .phone {
				margin-top: 40px;
			}
		}

		.angled-flag {
			background-color: $warn-color;
			font-weight: bold;
			padding-left: 8px;
			font-size: 1.7em;
			color: white;
			width: 200px;
			height: 34px;
			-webkit-clip-path: polygon(75% 100%, 0 100%, 0 0, 100% 0);
			clip-path: polygon(75% 100%, 0 100%, 0 0, 100% 0);
		}

		.contact-header {
			font-weight: bold;
		}
		
		textarea {
			// max-width: 400px;
		}

		.height-fix {
			min-height: 280px;
		}
		
	}
	
}


.email-modal {

	md-toolbar {
		background-color: $warn-color;
		color: white;
		font-weight: bold;
	}

	md-dialog-content {
		background-color: white;
	}

	.success-icon {
		width: 100%;
		text-align: center;
	}

	.md-actions {
		background-color: $accent-color;
	}
}