<section class="contact-section">
	<md-content layout-padding layout="row" layout-align="center center">
	    <form name="userForm" class="contact-form">
	  		<md-content layout-padding class="trans-back height-fix">
	      		<div layout>
			        <md-input-container class="half-width">
			          	<label class="accent-label">First name</label>
			          	<input required name="firstName" ng-model="user.firstName" >
			          	<div ng-messages="userForm.firstName.$error">
			             	<div ng-message="required">I need to know who your are!</div>
			            </div>
			        </md-input-container>
			        <md-input-container class="half-width">
			          	<label class="accent-label">Last Name</label>
			          	<input ng-model="user.lastName" >
			        </md-input-container>
	      		</div>
	      		<div layout>
	        		<md-input-container class="half-width">
	            		<label class="accent-label"><i class="fa fa-building"></i> Company (optional)</label>
	            		<input ng-model="user.company" >
	          		</md-input-container>
			    	<md-input-container class="half-width">
			      		<label class="accent-label"><i class="fa fa-envelope"></i> Email</label>
			      		<input ng-model="user.email" required name="email" type="email" >
			      		<div ng-messages="userForm.email.$error">
			             	<div ng-message="required">How am I supposed to reply?</div>
			            </div>
			    	</md-input-container>
			    </div>
			    <md-input-container class="half-width">
		      		<label class="accent-label"><i class="fa fa-phone" aria-hidden="true"></i> Phone</label>
		      		<input ng-model="user.phone" name="phone" type="phone" >
		    	</md-input-container>
			    <md-input-container flex>
			        <label class="accent-label"><i class="fa fa-comment"></i> Comments</label>
			        <textarea ng-model="user.comments" columns="1" md-maxlength="500" required name="comments" 
			        	></textarea>
			        <div ng-messages="userForm.comments.$error">
			            <div ng-message="required">Why are you contacting me?</div>
			        </div>
			    </md-input-container>
			</md-content>
			<div layout layout-align="center center">
				<md-button ng-click="cc.sendEmail(user)">
					Submit &nbsp;
					<md-icon md-svg-icon="content:send"></md-icon>
				</md-button>
			</div>
	    </form>
	</md-content>
</section>