.home-section {

	.big-home-image {
		background: url('./../assets/images/vrlab_gear_purple.jpg');
		background-color: $primary-color;
		background-repeat: none;
		height: calc(100vh - 64px);

		.the-future {
			font-size: 5em;
			color: white;
			font-family: $slab-font;
			font-weight: bold;
			@include fade-In(4s);
		}
	}

	.info-container {
		background-color: $warn-color;
		padding: 16px;
		width: 100%;
		max-width: 1400px;

		.vr-info {
			color: white;
			font-weight: bold;
			// font-family: $slab-font;
			font-size: 1.3em;
			text-align: center;
			margin: 10px;
			max-width: 400px;
			i {
				color: $accent-color;
				margin-bottom: 12px;
			}
			span {
				margin: 12px auto;
			}
		}
	}


	@media screen and (max-width: 900px) {
		.big-home-image {
			height: calc(100vh - 56px);

			.the-future {
				font-size: 4em !important;
			}
		}
	}
	
}