<section class="tours-section">
	<div class="tour-top">
		<div  layout="row" layout-align="center center">
			<div layout="row" layout-align="center center" class="tour-container">
				<div layout="column" class="tour-info" layout-align="center center" flex="50">
					<h3 md-accent>Austin VR Lab Experience</h3>
					<p>2 hour | $100.00</p>
				</div>
				<div layout="column" class="tour-details" layout-align="center start" flex="50">
					<span>One of our VR operators will take you on a guided tour of VR on the HTC Vive or Oculus while answering any of your VR questions.
					</span><br>
					<span>This session is good for up to 4 people.</span>
				</div>
			</div>
		</div>
		<div layout="row" layout-align="center center">
			<md-button ng-click="tc.bookIt()">Book It!</md-button>
		</div>
	</div>
	<md-divider ng-show="tc.showBooking"></md-divider>
	<div class="booking-details" layout="row" layout-align="center center" ng-show="tc.showBooking">
		<md-input-container>
	       <label>Select a Date and Time</label>
	       <input mdc-datetime-picker date="true" time="true" type="text" id="time" short-time="true"
              	placeholder="Tour Date/Time"
             	min-date="tc.minDate"
              	format="MM/DD/YYYY hh:mm a"
              	ng-model="tc.tourDate">
		</md-input-container>
	</div>
</section>